body {
  
    background-image: linear-gradient(to right, rgb(103, 200, 150), rgb(137, 216, 197));
}

.container{
text-align: center;

margin-top: 279px;
}
    .portifolio{
        padding-right: 20px;
        font-size: 1.2em;
        color: white;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;

    }
    .curriculo{
        padding-right: 20px;
        font-size: 1.2em;
        color: white;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
    }
