body{
    background-color: rgba(0, 0, 0, 0.944);
    
}p{
    color: white;
    text-align: center;
   
}
a{
    border: 1px solid green;
    padding: 8px;
    border-radius: 2vh;
    color: white;
    text-decoration: none;

}
div{
    margin-top: 30px;
}