body {
    width: 700px;
    /* Largura do elemento */
    height: 600px;
    /* Altura do elemento */
    background-color: rgba(0, 0, 0, 0.977);
    /* Cor RGB do fundo */
    box-shadow: 5px 5px 10px #e4e0e033;
    /* Sombra com deslocamento X, deslocamento Y, desfoque e cor RGBA */
    margin: 50px auto;
    /* Centralizar o elemento na página */
    padding: 20px;
    /* Espaçamento interno do conteúdo */
    color: white;
    /* Cor do texto para melhor legibilidade */

}

h1 {
    font-family: 'Pixelify Sans', sans-serif;


}

h1:hover {
    color: rgb(0, 38, 128);
}

a {
    font-family: 'Rubik', sans-serif;
    color: white;
    text-decoration: none;


}

a:hover {
   
    color: green;
}

footer {
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    display: flex;
    padding-top: 300px;


}

.voltar {
    font-size: 2em;
    text-align: center;
}
mark{
    background-color: rebeccapurple;
    border-radius: 5vh;
    padding: 6px;
}

@media screen and (max-width: 760px)
{
    body{
        width: 350px;
        height: 500px;
    }
}