body {
    background-color: rgba(0, 0, 0, 0.955);

}

a {
    color: white;
    text-decoration: none;
    border: 1px solid green;
    border-radius: 5vh;
    padding: 8px;


}

p {
    text-align: center;
    margin-top: 40px;
}
.titulo{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   border: 1px solid rgb(99, 146, 99);
   border-radius: 5vh;

}
a:hover{
    font-size: 1.2em;
}
