body {
    background-color: black;


}

a {
    color: white;


}

div,
p,
a {
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: white;
    margin-bottom: 23px;

}

.borda {
    color: white;
    border: 1px solid green;
    text-decoration: none;
    border-radius: 5vh;
    padding: 5px;
}

.borda:hover {
    background-image: linear-gradient(to right, rgba(103, 188, 103, 0.779), rgb(59, 151, 93));
}

.Certificados {
    font-family: Arial, Helvetica, sans-serif;
}