.caixa-central{
    position: absolute;
    top: 30%;
    left: 29%;
    width: 55%;
    height: 50%;
    background-color: #000000e2;
    color: #fff;
    text-align: center;
    line-height: 200px;
    font-size: 1.5em;
}
body{
    background-color: #8ccfa2;
}
p{
    position: absolute;
    top: 9%;
    left: 21%;
}

:root {

    --cor-amarelo: #ff0000;
    --cor-preto: #000000;
    --cor-gelo: #f4f4f4;
  
  }
  
  body { background-color:var(--cor-preto); }
  h1   { font-family: arial; font-weight: lighter; text-align:center; margin: 100PX auto; color: var(--cor-gelo); }
  
  
  div#preloader {
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   
    z-index: 99999;
  
  }
  
  .loader .title {
  
    color: var(--cor-amarelo);
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: lighter;
    text-align: center;
    font-family: arial;
  
  }
  
  .loader {
  
    position: absolute;
    top:65%;
    left: 58%;
    margin-top:-50px; 
    margin-left:-50px;
  
  }
  
  /*Carregando*/
  
  .carregando {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    margin-bottom: 10%;
    margin-left: 18%;
    border-top: 3px solid var(--cor-amarelo);
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 