body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
   
   
    padding: 2px;
}

body {
    width: 500px;
    /* Largura do elemento */
    height: 600px;
    /* Altura do elemento */
    background-color: rgb(0, 0, 0);
    /* Cor RGB do fundo */
    box-shadow: 5px 5px 10px #cbcbcb33;
    /* Sombra com deslocamento X, deslocamento Y, desfoque e cor RGBA */
    margin: 50px auto;
    /* Centralizar o elemento na página */
    padding: 20px;
    /* Espaçamento interno do conteúdo */
    color: rgb(255, 255, 255);
    /* Cor do texto para melhor legibilidade */

}

