body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    border: 1px solid blue;
    border-radius: 2vh;
    padding: 2px;
}

